@import url('https://fonts.cdnfonts.com/css/gilroy-bold%27');


.CaracteristicasContainer{
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    background-color: white;
}




.titleContainer {
    text-align: left;
}
