@import url('https://fonts.cdnfonts.com/css/gilroy-bold%27');


.CaracteristicasContainer{
    padding-top: 100px;
    box-sizing: border-box;
    margin: 0px;
    height: 1000px;
    background-color: white;
}

.titleContainer {
    position: relative;
    text-align: center;
    width: 1300px;
}
