@import url('https://fonts.cdnfonts.com/css/gilroy-bold%27');


.CaracteristicasContainer{
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    background-color: rgb(241, 241, 241);
}
.generalTextContainer {
    max-width: 100%;
    padding: 0 15%;
    pointer-events: none;
}

.titleContainer {
    text-align: center;
}
.s1{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    background: -webkit-linear-gradient(rgb(99, 172, 221),rgb(24, 146, 228));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1rem;
}

.t1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    padding-bottom: 2rem;
}