@import url('https://fonts.cdnfonts.com/css/gilroy-bold%27');


.ServiciosContainer {
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    background-color: #ececec;
}

.titleContainer {
    text-align: left;
}

.cardContainer {
    display: flex;
}

.boxContainer {
    padding-right: 40px;
}
