@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

.footerContainer{
    box-sizing: border-box;
    background-color: #060606;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;    
}

.footerCard{
    width: 500px;
}

.FooterText{
    text-decoration: solid;
    color: rgb(214, 214, 214);
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: 400px;
}

.footerTitle {
    font-size: 3em;
    font-weight: 100;
    color: #c4c4c4;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
}

.footerSub{
    font-size: 1em;
    font-weight: 100;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    padding-bottom: 4px;
}

.footerSubTitle {
    font-size: 1em;
    font-weight: 400;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    padding-right: 200px;
    padding-bottom: 10px;
}

.subCard{
    display: flex;
}