.footerContainer{
    box-sizing: border-box;
    background-color: #060606;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    
}
.FooterText{
    text-align: center;
    text-decoration: solid;
    color: rgb(214, 214, 214);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}
.SataCoreFooter{
    margin-top: 5px;
    padding-top: 15px ;
    width: 100px;
    height: 35px;
}
