@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

.footerContainer{
    box-sizing: border-box;
    background-color: #060606;
    width: 100%;
    height: 500px;
    padding: 0 10%;
    padding: 40px 40px;    
    display: flex;
    justify-content: center;
}

.footerCard{
    padding-top: 50px;

}
.footerImg{
    padding-top: 50px;
}
.footerImg img{
    padding-left: 50px;
    height: 400px;
}
@media screen and (max-width:850px) {
    .footerImg img {
        display: none;
    }
}

.footerText{
    text-decoration: solid;
    color: rgb(214, 214, 214);
    font-family: 'Inter', sans-serif;
    background-color: #060606;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.footerTitle {
    font-size: 3em;
    font-weight: 100;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
}
@media screen and (max-width:850px) {
    .footerTitle {
        font-size: 2em;
    }
}
hr {
    margin-top: 20px;
    margin-bottom: 30px;
    height: 1px;
    width: 600px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(250, 107, 12)), to(transparent), color-stop(50%, rgb(229, 59, 85)));
}
@media screen and (max-width:850px) {
    hr {
        width: 380px;
    }
}
.footerSub{
    font-size: 1em;
    font-weight: 100;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    padding-bottom: 4px;
}
.footerSubIg{
    font-size: 1em;
    font-weight: 100;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    padding-bottom: 4px;
    cursor: pointer;
}
.linkIg{
    text-decoration: none;
}
.footerSubTitle {
    font-size: 1em;
    font-weight: 400;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    padding-right: 200px;
    padding-bottom: 10px;
}
.contactLink{
    text-decoration: none;
    font-size: 1em;
    font-weight: 100;
    color: #c4c4c4;
    font-family: 'Inter', sans-serif;
    padding-bottom: 4px;
}
.subCard{
    display: flex;
    padding: 50px 20%;
    
}
.footerHeader{
    padding: 0px 20%;
}