@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.contactoContainer{
    box-sizing: border-box;
    height: 980px;
    align-items: center;

}
.formContainer{
    display: flex;
    justify-content: center;
   
    
}
.formulario{
    border: #e53e53 solid 1px;
    border-radius: 15px;
    padding: 50px;
    width: 500px;
    height: 600px;
    background-color: white;
}
.contactoTitulo{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    height: 200px;
    padding-top: 100px;
    text-align: center;

}
.spanForm{
    color: #e53e53;
}
.titleForm{
    width: 500px;
}
.inputDescription{
    height: 200px;
    
}
