@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.contactoContainer{
    box-sizing: border-box;
    height: 980px;
    align-items: center;
    background-color: #060606;

}
.formContainer{
    display: flex;
    justify-content: center;
   
    
}

.formulario{
    border: #e64d66 solid 1px;
    border-radius: 5px 30px;
    padding: 50px;
    width: max-content;
    height: 600px;
    background-color: white;
    background-color: #e64d66;
}
.contactoTitulo{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    height: 200px;
    padding-top: 100px;
    text-align: center;

}
.buttonContainer{
    display: flex;
    justify-content: center;
}
.spanForm{
    color: #e64d66;
}
.titleForm{
    color: white;
    width: 500px;
}
.inputName{
    border-radius: 5px;
    border: solid 1px white;
    height: 30px;
}
.inputEmail{
    border-radius: 5px;
    border: solid 1px white;
    height: 30px;
}
.inputPhone{
    border-radius: 5px;
    border: solid 1px white;
    height: 30px;
}
.inputDescription{
    border-radius: 5px;
    border: solid 1px white;
    height: 150px;

}
.formButton{
    height: 30px;
    width: 90px;
    font-family: 'Roboto';
    border-radius: 0px 15px;
    border: none;
    background-color: white;
    font-weight: 600;
    color: #e64d66;
    cursor: pointer;
}